<!doctype html>
<html ng-app="findMate"> 
	<head>
		<title>События</title>
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
        <link rel="stylesheet" href="../../public/css/style.css">
        
	</head>
	<body>
	<body ng-controller="meetingsController">
        <!--============== navigation ==============-->
        <div class="menu" id="menu">
            <nav>
                <div class="profile-block">
                    <% if (user.facebook.token) { %>
                    <div class="image-wrapper">
                        <img src="<%= picture %>" alt="<%= user.facebook.name %>">
                    </div>
                    <a href="/profile" class="profile-name"><%= user.facebook.name %></a>
                    <% } %>
                </div>
                <ul>
                    <li><a href="#">Profile</a></li>
                    <li><a href="#">Settings</a></li>
                    <li><a href="/logout">Log out</a></li>
                </ul>
            </nav>
        </div>
        <!--============== main content ==============-->
        <button class="menu-button" id="menu-button">Open menu</button><button class="menu-button" id="menu-button">Open menu</button>
        <div class="content">
                   
            <div class="meetings-display">
            
                <div class="meeting">
                    <div><input type="checkbox" ng-click="completeMeeting(meeting._id)"> {{ meeting.active }}</div>
                    <div class="meeting-title">{{ meeting.title }}</div>
                    <div>{{ meeting.description }}</div>
                    <div>{{ meeting.ownerName }}</div>
                    <div>{{ meeting.latitude }}</div>
                    <div>{{ meeting.longitude }}</div>
                    <div>{{ meeting.visibility }}</div>
                    <div>{{ meeting.startDate }}  {{ meeting.startTime | date:'shortTime'}}</div>

                     <div class="meeting-title"><%= meeting.title %></div>
                    <div><%= meeting.description %></div>
                    <div><%= meeting.ownerName %></div>
                    <div><%= meeting.latitude %></div>
                    <div><%= meeting.longitude %></div>
                    <div><%= meeting.visibility %></div>
                    <div><%= meeting.startDate %> </div>
                    <div><button type="submit" class="btn btn-primary btn-lg" ng-click="deleteMeeting(meeting._id)">Удалить</button></div>
                </div>
            </div>
            <a href="/map">Создать</a>
  

    <!-- modal -->
        <script type="text/ng-template" id="myModalContent.html">
            <div class="modal-header">
                <h3 class="modal-title">Create event</h3>
            </div>
            <div class="modal-body">
                <input type="text" class="form-control input-lg text-center" placeholder="I wanna meet those crazy people" ng-model="formData.title">
                <input type="text" class="form-control input-lg text-center" placeholder="For..." ng-model="formData.description">
            </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" type="submit" id="createbtn" ng-click="createMeeting();ok()">OK</button>
                <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </script>
        <!-- end modal -->
    <script src="../../bower_components/angular/angular.js"></script>
    <script src="../../bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../../public/js/menu.js"></script>
    <script src="../../public/js/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script src="../../public/js/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
	<script src="../../public/js/app.js"></script>
    <script src="../../public/js/controllers/singleMeeting.js"></script>
</body>
</html>