<!doctype html>
<html ng-app="findMate">
<head>
	<title>Node Authentication</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
</head>
<body ng-controller="profileController">
<!--<script>
	window.fbAsyncInit = function() {
        FB.init({
          appId      : '1556663711272087',
          xfbml      : true,
          version    : 'v2.1'
        });
      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);

      var getFBData = function () {
        FB.api('/me', function(response) {
          fbinfo = new Array();
          fbinfo[0] = response.id;

          var im = document.getElementById("profile-image").setAttribute("src", "http://graph.facebook.com/" + fbinfo[0] + "/pciture?type=normal");
        });
    };

    getFBData();
}(document, 'script', 'facebook-jssdk'));
</script>-->
<div class="container">

	<div class="page-header text-center">
		<h1><span class="fa fa-anchor"></span> Profile Page</h1>
		<a href="/logout" class="btn btn-default btn-sm">Logout</a>
	</div>

	<div class="row">


		<!-- FACEBOOK INFORMATION -->
		<div class="col-sm-6">
			<div class="well">
				<h3 class="text-primary"><span class="fa fa-facebook"></span> Facebook</h3>

				<!-- check if the user has this token (is the user authenticated with this social account) -->
				<% if (user.facebook.token) { %>
					<div><img src="<%= user.facebook.picture %>" alt=""></div>
					<div><%= user.facebook.picture %></div>
					<div><img src="" id="profile-image"></div>
					<div><%= user.facebook.pic %></div>
					<p>

						<strong>id</strong>: <%= user.facebook.id %><br>
						<strong>token</strong>: <%= user.facebook.token %><br>
						<strong>email</strong>: <%= user.facebook.email %><br>
						<strong>username</strong>: <%= user.facebook.username %><br>
						<strong>name</strong>: <%= user.facebook.name %><br>
					</p>

					<a href="/unlink/facebook" class="btn btn-primary">Unlink</a>
				<% } else { %>
					<a href="/connect/facebook" class="btn btn-primary">Connect Facebook</a>
				<% } %>

			</div>
		</div>
	</div><!-- end row -->

	<div class="row">
		<a href="/map">Load Map</a>
	</div>

<script src="../../bower_components/angular/angular.js"></script>
<script src="../../bower_components/jquery/dist/jquery.js"></script>
<script src="../../public/js/angular-bootstrap/ui-bootstrap.min.js"></script>
<script src="../../public/js/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
<script src="../../public/js/app.js"></script>
<script src="../../public/js/controllers/profile.js"></script>

</div>
</body>
</html>